{% load static %}
<nav class="navbar navbar-expand-lg bg-light rounded-top rounded-4 border border-1 shadow-lg p-3 mb-3 bg-body rounded">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <lord-icon
      src="{% static 'icons/logo.json' %}"
      trigger="hover"
      style="width:48px;height:48px">
      </lord-icon>Notion Print</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <lord-icon
            src="{% static 'icons/add.json' %}"
            trigger="hover"
            style="width:32px;height:32px">
            </lord-icon>
            Создать
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'add_task'%}">Задачу</a></li>
            <li><a class="dropdown-item" href="{% url 'add_typing'%}">Тип</a></li>
          </ul>
        {% if now_date %}
          {% include 'Notion/include/_datebar.html' %}
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index'%}">
            <lord-icon
            src="{% static 'icons/admin.json' %}"
            trigger="hover"
            style="width:32px;height:32px">
            </lord-icon>
            Администрирование</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout'%}">
            <lord-icon
            src="{% static 'icons/logout.json' %}"
            trigger="hover"
            style="width:32px;height:32px">
            </lord-icon>       
          Выйти</a>
        </li>     
      </ul>
      <form action="{% url 'home' %}" class="d-flex" role="search">
        <input class="dateinput form-control me-2" type="text" name="search" placeholder="YYYY.MM.DD" required="" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">
          <lord-icon
              src="{% static 'icons/find.json' %}"
              trigger="hover"
              colors="outline:#121331,secondary:#b26836,secondary2:#4bb3fd,quaternary:#ebe6ef"
              style="width:32px;height:32px">
          </lord-icon>
        </button>
      </form>
    </div>
  </div>
</nav>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="search"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>