{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block container %}
<link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% comment %} <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"> {% endcomment %}
<body class="text-center">
{% comment %} <div class="container card p-3 shadow-lg p-3 mb-5 bg-body rounded-4"> {% endcomment %}
<main class="form-signin w-100 m-auto container card p-3 shadow-lg p-3 bg-body rounded-4">
  <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <lord-icon src="{% static 'icons/login_icon.json' %}" trigger="hover" style="width:128px;height:128px"> 
    </lord-icon> 
    <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
    <div class="form-floating">
      {{form.username}}
      <label for="floatingInput">Имя пользователя</label>
    </div>
    <div class="form-floating">
      {{form.password}}
      <label for="floatingPassword">Пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary btn-dark" type="submit">Вход</button>
  </form>
{% comment %} </div> {% endcomment %}
</main>
{% endblock %}
